/* Ajoutez vos styles personnalisés ici si nécessaire */
.table {
    width: 100%;
    
}

td {
    background-color: #444444;
}

.table th,
.table td {
    text-align: center;
    padding: 20px;
    border: 1px solid #444444;
    width: 100px;
}

.table td {
    padding:35px
}

.table thead th {
    color: #ff8000;
    background-color: black;
    border-bottom: none;
}

.originalDate {
color: red;
}


.current-month {
    background-color: #ff8000; /* Couleur pour le mois en cours */
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.current-month:hover {
    background-color: rgb(255, 255, 255);
    color: #ff8000;
    transition: 0.3s;
}


.other-month {
    color: #535353; /* Couleur pour les jours des autres mois */
}



button {
    margin-bottom: 10px;
}



@media (min-width: 1200px)
{
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1500px;
}}